<style>
* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

html {
    font-family: 'Lora', serif;
    background-color: papayawhip;
}
.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-image: linear-gradient(90deg, lightseagreen, dodgerblue);
    color: white;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
.header::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.3;
  }

.header h1 {
    font-weight: 500;
    color: white;
  }
.header h2 {
    font-weight: 400;
    font-style: italic;
    color: white;
}
.menu ul {
    list-style-type: square;
    margin: 0 0 0 0;
    padding: 0;
    border: solid 3px red;
  }
.menu li {
    display: inline-flex;
    padding: 2px;
    text-align: center;
    border: 1px white solid;
    border-radius: 20%;
    color: #ffffff;
    box-shadow: 5px 5px 5px rgb(131, 133, 130);
}

.menu li:hover {
    background-color: #2051da;
    box-shadow: 5px 5px 5px grey;
}